RewriteEngine on
RewriteBase /avamusic
RewriteCond %{THE_REQUEST} /(controllers|views|models)/.+ [NC]
RewriteRule ^ - [R=403,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]